/* 
Author: Ada Kolze
Version: draft 1
Date: 10/25/2023
Website: sw.cs.wwu.edu/~kolzea/CS102/127/webproject/index.html
*/

/* Table of Content */
/* 
1. Google Font 
2. Body
3. Wrapper
4. Banner
5. Nav
 */

/* 
TODO
update TOC
efficiency - image size
links on home, portfolio
make table on services
?on inspo make artwork info hover?
?sticky nav/header?
use javascript on one page
HTML and CSS validation

*/

@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:wght@300;400&family=Poppins:wght@300&family=Ubuntu+Mono:wght@400;700&display=swap');

* {
    box-sizing: border-box;
 }
 
body {
    background-color: #f4f4f4;
    font-family: 'Ubuntu Mono', sans-serif;
    line-height: 1.25;
}
#wrapper {
    width: 90%;
    margin: 0 auto;
}

.banner{
    background-color: #998B62;
    display: grid;
    grid-template-columns: 1fr 3fr;
    justify-content: space-between;
}
.top{
    background-image: url(../images/CamScanner\ 06-04-2022\ 09.30_1.jpg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat; 
}

nav {
    text-align: center;
    padding: 20px 0;
}

nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
nav ul li{
    display: inline-block;
    position: relative;
}

nav ul li a{
    display: block;
    padding: 10px;
    text-decoration: none;
    color: white;
}

.clearfix{
    clear: both;
}

h1{
    text-align: center;
    border: solid;
    padding: 5px;
    letter-spacing: 1.5px;
    background-color: #A94C18;
}

.twocolumn{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.twocolumn h3{
    font-weight: bold;
    font-size: 1.25em;
}
.column{
    padding: 15px;
    margin: 10px;
    background-color: lightgray;
    border-radius: 10px;
}

.logo{
    float: left;
    height: 100%;
    width: auto;
    position: absolute;
}

.center{
    margin-top: 15px;
    border: 10px solid #D0BF8D;
    margin-right: 30%;
    margin-left: 30%;
}


.exhibition{
    padding-top: 20px;;
}
footer{
    background-color: #998B62;
    position: relative;
}
footer p{
    padding-left: 60px;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
    /* padding-top: 10px; */

}

.gallery{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: space-between;
}
.gallery-item{
    margin: 10px;
    transition: 0.2s;
    background-color: lightgray;
}

.gallery-item img{
    width: 100%;
}

.gallery-item p{
    text-align: center;
    font-weight: bold;
}
.gallery-item:hover{
    box-shadow: 0 0 10px #998B62;
    /* cursor: pointer; */
    /* csciprojects.us */
}

hr{
    border: 2px solid #D0BF8D;
}

dt{
    font-size: 1.25em;
}
dl{
    padding: 10px;
    background-color: lightgray;
}